/* Customize cover for report style */
.quire-cover__overlay {
  background-position-y: bottom;   
}
.quire-cover__hero {
  background-image: none;
  background-color: #d1bfa7;
}
.hero-body .container.is-fluid {
  position: relative;
  padding: 40px 60px;
  margin: 0 1rem;
  bottom: 0;
  background-color: rgb(100,0,100,0.5);
  border-radius: .5rem;
  text-align: center;
  z-index: 1000;
}
.cover-description,
.cover-date {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-style: italic;
  font-size: calc(1.25rem * 1.3);
  line-height: 1.2;
  color: #ffffff;
}
.cover-date {
  font-style: normal;
  font-size: 1.3rem;
  line-height: 1.8;
}
.cover-button {
  display: table;
  font-size: 1.25em;
  font-weight: bold;
  margin: 2.5rem auto 1rem;
  background-color: #cc00cc;
  color: white;
  border-width: 0;
}
.cover-button:hover {
  background-color: #990099;
  color: white;
}
.cover-links {
  text-align: center;
  font-weight: bold;
  color: white;
  margin-top: .5rem;
}
.cover-links a {
  color: white;
  margin: 0 .75rem;
  border-bottom: 1px dotted white;
}
.cover-links a:hover {
  color: #cc00cc;
  border-bottom: 1px solid #cc00cc;
}
.quire-cover__more .hero-more {
  background-color: #990099;
}
@media screen and (max-width: 500px) {
  .hero-body {
    padding: 0;
  }
  .hero-body .container.is-fluid {
    padding: 20px 30px;
  }
  .cover-links a {
    display: table;
    margin: .5rem auto;
  }
  .cover-links__divider {
    display: none;
  }
}
#cover .quire-page__content img {
  max-height: 5.5rem;
  display: inline-block;
  margin: 2rem 1rem;
}
#cover .quire-page__content img:first-child {
  margin-left: 0;
}

/* Center figure captions */
.content figure .quire-figure__caption {
  text-align: center;
}

/* Custom feature block element for pages */
.feature-block {
  border: 1px solid #cc00cc;
  background-color: #ffeeff;
}
.feature-block__heading {
  background-color: #990099;
  color: #fff;
  padding: 1rem;
}
.feature-block__heading strong {
  color: #fff;
}

/* Stylize finding page to add bold color headings and remove list styling */
#findings .quire-page__content ul {
  margin-left: 0;
  list-style-type: none;
}
#findings .quire-page__content ul li::before {
  content: "";
}
#findings .quire-page__content ul p:first-child {
  margin-bottom: 0;
}
#findings .quire-page__content ul p:first-child strong {
  color: #990099;
}

/* More space around HRs */
.quire-page__content .content hr {
  margin: 2.5rem 0;
}

/* Less margin on ULs */
.quire-page__content .content ul {
  margin-left: 1rem;
}

/* Make the tables look good */
.quire-page__content table {
  font-size: .9rem;
}
.quire-figure__table {
  border-width: 0px;
}
.quire-page__content .container .content table thead th,
.quire-page__content .container .content table caption {
  background-color: #990099;
  color: white;
}
.quire-page__content .container .content table th {
  font-weight: normal;
}
.quire-page__content .container .content table caption {
  padding: .5rem;
}
.quire-page__content .container .content table caption strong {
  font-size: 1.1rem;
}
.quire-page__content .container .content table tbody td {
  border-left-width: 0px;
  border-right-width: 0px;
}
.quire-page__content .container .content table tbody td,
.quire-page__content .container .content table tbody th {
  border-width: 0px;
  border-top: 1px solid #bbb;
}
.quire-page__content .container .content table tbody .table-section td,
.quire-page__content .container .content table tbody .table-section th {
  border-top-color: #990099;
}
.quire-page__content .container .content table tbody tr:last-of-type {
  border-bottom: 1px solid #990099;
}
.quire-figure.table {
  border-top-width: 0px;
  border-bottom-width: 0px;
  padding: 0;
}
/* Special highlight classes, from light to darker */
td.hglt-1 {
  background-color: #ffeeff;
}
td.hglt-2 {
  background-color: #ffddff;
}
td.hglt-3 {
  background-color: #ffccff;
}
td.hglt-4 {
  background-color: #ffbbff;
}
td.hglt-5 {
  background-color: #ffaaff;
}
td.hglt-6 {
  background-color: #ff99ff;
}
td.hglt-7 {
  background-color: #ff88ff;
}
td.hglt-8 {
  background-color: #ff77ff;
}
/* Styling key on table-01 */
.quire-page__content .content figure table + dl {
  margin: .75rem 0;
  padding: 0 .75rem;
  color: #990099;
  border-bottom: 1px solid #990099;
}
.quire-page__content .content figure table + dl dt {
  float: left;
  margin-right: 1rem;
}
.quire-page__content .content figure table + dl dd {
  text-align: left;
  margin-bottom: .75rem;
}
/* If a cell spans more than one row, vertically center the contents */
.content table td[rowspan], 
.content table th[rowspan] {
  vertical-align: middle; 
}

/* Style special in-page navigation links for appendices */
.page-links {
  text-align: center;
}
.page-links > p:first-child  {
  text-transform: uppercase;
  font-weight: bold;
  color: #990099;
}
.quire-page__content .container .content .page-links ul,
.quire-page__content .container .content .page-links ul li {
  margin-left: 0; 
}
.quire-page__content .container .content .page-links ul li {
  margin-bottom: .5rem;
}
.quire-page__content .container .content .page-links ul li::before {
  content: "";
}

/* Adjust style on h2 to make regular case and a little smaller
   Many of the headings are full phrases (too much for big all caps) */
.quire-page h2 {
  text-transform: none;
  font-size: 1.625rem;
  line-height: 1.2;
  padding-right: 2rem;
}

/* Color the custom HR and LI dots in shades matching the background color 
   (#f3f2ee) and the generated blockquote graphic color (#d3d0c1) */
.quire-page__content .container .content hr::after {
  color: #adab9e;
}
.quire-page__content .container .content ul li::before {
  color: #87857b;
}