/* Customize cover for report style */
.quire-cover__overlay {
  background-position-y: bottom;   
}
.quire-cover__hero {
  background-image: none;
  background-color: #d1bfa7;
}
.hero-body .container.is-fluid {
  position: relative;
  padding: 40px 60px;
  margin: 0 1rem;
  bottom: 0;
  background-color: rgb(100,0,100,0.5);
  border-radius: .5rem;
  text-align: center;
  z-index: 1000;
}
.cover-description,
.cover-date {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-style: italic;
  font-size: calc(1.25rem * 1.3);
  line-height: 1.2;
  color: #ffffff;
}
.cover-date {
  font-style: normal;
  font-size: 1.3rem;
  line-height: 1.8;
}
.cover-button {
  display: table;
  font-size: 1.25em;
  font-weight: bold;
  margin: 2.5rem auto 1rem;
  background-color: #cc00cc;
  color: white;
  border-width: 0;
}
.cover-button:hover {
  background-color: #990099;
  color: white;
}
.cover-links {
  text-align: center;
  font-weight: bold;
  color: white;
  margin-top: .5rem;
}
.cover-links a {
  color: white;
  margin: 0 .75rem;
  border-bottom: 1px dotted white;
}
.cover-links a:hover {
  color: #cc00cc;
  border-bottom: 1px solid #cc00cc;
}
.quire-cover__more .hero-more {
  background-color: #990099;
}
@media screen and (max-width: 500px) {
  .hero-body {
    padding: 0;
  }
  .hero-body .container.is-fluid {
    padding: 20px 30px;
  }
  .cover-links a {
    display: table;
    margin: .5rem auto;
  }
  .cover-links__divider {
    display: none;
  }
}
#cover .quire-page__content img {
  max-height:4rem;
  display: inline-block;
  margin: 2rem 1rem;
}

/* Center figure captions */
.content figure .quire-figure__caption {
  text-align: center;
}

/* Custom feature block element for pages */
.feature-block {
  border: 1px solid #cc00cc;
  background-color: #ffeeff;
}
.feature-block__heading {
  background-color: #990099;
  color: #fff;
  padding: 1rem;
}
.feature-block__heading strong {
  color: #fff;
}

/* Stylize finding page to add bold color headings and remove list styling */
#findings .quire-page__content ul {
  margin-left: 0;
  list-style-type: none;
}
#findings .quire-page__content ul li::before {
  content: "";
}
#findings .quire-page__content ul p:first-child {
  margin-bottom: 0;
}
#findings .quire-page__content ul p:first-child strong {
  color: #990099;
}


.quire-page__content .content hr {
  margin: 2.5rem 0;
}
.quire-page__content .content ul {
  margin-left: 1rem;
}