{{/*
    half title page and title page page layout for PDF output only
*/}}

{{- if eq .site.Params.pdf true }}
<div class="fullPageBreak"></div>
<div class="half-title-page">
  {{ if .site.Data.publication.title }}
  <span class="title-htp">
    {{ .site.Data.publication.title }}
  </span>
  {{ end }}
</div>
<div class="fullPageBreak"></div>
<div class="title-page">
  {{ if .site.Data.publication.title }}
  <span class="title-tp">
    {{ .site.Data.publication.title }}
  </span><br />
  {{ end }}
  {{ if .site.Data.publication.subtitle }}
  <span class="sub-title">
    {{ .site.Data.publication.subtitle }}
  </span><br />
  {{ end }}
  
  {{ with .site.Data.publication.description.one_line }}
  <span class="cover-description">{{ . | markdownify }}</span>
  {{ end }}
  
  {{ with .site.Data.publication.pub_date }}
  <span class="cover-date">{{ dateFormat "January 2006" . }}</span>
  {{ end }} 
  
  <span class="contributor">
    {{ if .site.Data.publication.contributor_as_it_appears }}
      {{ .site.Data.publication.contributor_as_it_appears | markdownify }}
    {{ else }}
      {{ partial "contributor-list.html" (dict "range" .site.Data.publication.contributor "contributorType" "primary" "listType" "string" "Site" .site) }}
    {{ end }}
  </span><br />
  <div class="publisher">
  <ul>
    {{ range .site.Data.publication.publisher }}
    <li>{{ if .name }}{{ .name }}{{ end }}{{ if and (.name) (.location) }}, {{ end }}{{ if .location }}{{ .location }}{{ end }}</li>
    {{ end }}
  </ul>
  
  <img src="/img/cc-by--black.png" class="cc-logo" />
  
  <span class="cc-statement">
  {{- if eq .site.Data.publication.license.scope "full" -}}
    This work is licensed under a
    {{ with .site.Data.publication.license.url }}<a rel="license" href="{{ . }}" target="_blank">{{ end }}
    {{ .site.Data.publication.license.name }}
    {{ with .site.Data.publication.license.url }}</a>{{ end }}
  {{- end -}}
  <span>
    
  </div>
  
</div>
{{ end -}}